<form action="/payment/results">
    <div><label for="user_apr">APR</label>
      <input id="user_apr" name="apr" placeholder="E.g. 5.42"></div>
    <div><label for="user_yrs">Number of years</label>
      <input id="user_yrs" name="yrs" placeholder="How many years to repay?"></div>
    <div><label for="user_principal">Principal</label>
      <input id="user_principal" name="principal" placeholder="How much principal?"></div>
    <button>Calculate monthly payment</button>
</form>
