<h1>Payment Results</h1>

<body>
  <div>APR</div>
  <div><dd><%= @apr_formatted %></dd></div>
  <div>Number of years</div>
  <div><dd><%= @years %></dd></div>
  <div>Principal</div>
  <div><dd><%= @principal_formatted %></dd></div>
  <div>Payment</div>
  <div><dd><%= @payment %></dd></div>

  <p><a href="/payment/new">Pick another payment</a></p>

</body>
