<h1>Random Results</h1>

<body>
  <div>Minimum</div>
  <div><dd><%= @min %></dd></div>
  <div>Maximum</div>
  <div><dd><%= @max %></dd></div>
  <div>Random Number</div>
  <div><dd><%= @random %></dd></div>

  <p><a href="/random/new">Pick another random number</a></p>

</body>
